* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: white;
  color: black;
  font-size: 19px;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  column-count: 3;
  column-gap: 15px;
}

.item {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

img {
  width: 100%;
  display: flex;
}

.container {
  max-width: 1280px;
  width: 100%;
  padding: 50px;
  margin: 0 auto;
}

.button {
  border-radius: 0;
  border: #333333 solid 1px;
  background-color: white;
  padding: 7px 13px;
  color: #333333;
  cursor: pointer;
  transition: background-color .1s ease-in-out, color .1s ease-in-out;
}

.button--active {
  background-color: #333333;
  color: white;
}

.toolbar {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.toolbar-item {
  margin-right: 10px;
}

.toolbar-item:last-child {
  margin-right: 0;
}